.cover {
    text-align: center;
}

.cover img {
    max-width: 500px;
    max-height: 300px;
    margin-left: 50px; 
    margin-right: 50px;
}

.projectpics {
    text-align: center;
}

.projectpics img {
    max-width: 600px;
    max-height: 600px;
    display: block;
}

#safepathpics img, #edavfxpics img {
    display: inline-block;
}

.link {
    font-style: italic;
}