* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif; 
    background-color: #fff7f8;
    color: #494848;
    ;

}
header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;}

h1 {
    margin-top: 100px;
    color: #ff99af;    
    letter-spacing: 12px;
}

h2 {
    text-align: center;
    margin: 100px 80px 0px;
    letter-spacing: 7px;
}

nav {
    margin-top: 20px;
}

a {
    margin: 20px;
    color: #555454;
    text-decoration: none;
}

a:hover {
    color:#dd6f88;
}

.navs a {
    letter-spacing: 4px;
}

.navs {
    display: none;
}

.hidden{
    display: none;
}

.flex-container {
    display: flex;
}

/* display: tablet */
@media(min-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        margin: 100px 100px 0px;
    }

    .hamburger-menu {
        display: none;
    }

    .navs{
        display: block;
        margin-top: 50px;
    }

    main p, .link a {
        letter-spacing: 2px;
    }
    
}

/* display: laptop */ 
@media(min-width: 1024px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        letter-spacing: 10px;
        margin: 100px 200px 0px;
    }

}

/*nav bar larger*/

/*

nav {
    text-align: center;
    margin-top: 50px; 
}



footer {
    text-align: center;
}

.flex-container{
    display: flex;
}

.flex-item {
    flex-grow: 1;
    flex-shrink: 0; 
    flex-basis: 20%; 
    text-align: center;
}

.flex-item p {
    display: none;
}
*/

