* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif; 
    background-color: #fff7f8;
    color: #494848;
    ;

}
header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    margin-top: 100px;
    color: #ff99af;    
    letter-spacing: 12px;
}

h2 {
    text-align: center;
    margin: 100px 80px 0px;
    letter-spacing: 7px;
}

a {
    color: #555454;
    text-decoration: none;
}

nav {
    margin-top: 20px;
}

a:hover {
    color:#dd6f88;
    text-decoration: none;
}

.navs a {
    display: block;
    font-size: 16px;
    letter-spacing: 4px;
    margin: 20px 0px 0px;
}

.hidden{
    display: none;
}

.hamburger-menu {
   margin-top: 50px;
   margin-bottom: 30px;
}

.active i {
    color:#dd6f88;

}

/* dashboard */
#dashboard {
    margin: 70px 80px 0px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    flex: 0 0 300px;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid rgba(146, 146, 146, 0.2);
}

/*card hover effect*/

.card img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-description {
    padding: 20px;
    line-height: 10px;
}

.card-description :nth-child(1) {
    letter-spacing: 5px;
    line-height: 20px;
    
}

.card-description :nth-child(2), .card-description :nth-child(3) {
   font-size: 13px;
   letter-spacing: 2px;
   color: rgb(153, 153, 153);
   line-height: 20px; 
}

/* display: tablet */
@media(min-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        margin: 100px 100px 0px;
    }

    .navs {
        margin-top: 50px;
    }
     
    .navs a {
        display: inline;
        margin: 0px 20px 0px; 
    }

    main p, .link a {
        letter-spacing: 2px;
    }

    /* dashboard */
    .card {
        flex: 0 0 350px;
        border-radius: 13px;
    }
    
    .card img {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
    }
    
}

/* display: laptop */ 
@media(min-width: 1024px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        letter-spacing: 10px;
        margin: 100px 200px 0px;
    }

    .navs a {
        font-size: 17px;
    }

    /* dashboard */
    #dashboard {
        margin: 70px 50px 0px;
    }
}