* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif; 
    background-color: #fff7f8;
    color: #494848;
    ;

}
header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    margin-top: 100px;
    color: #ff99af;    
    letter-spacing: 12px;
}

h2 {
    text-align: center;
    margin: 100px 80px 0px;
    letter-spacing: 7px;
}

nav {
    margin-top: 20px;
}

a {
    color: #555454;
    text-decoration: none;
}

a:hover {
    color:#dd6f88;
}

.navs a {
    display: block;
    font-size: 16px;
    letter-spacing: 4px;
    margin: 20px 0px 0px;
}

.hidden{
    display: none;
}

.flex-container {
    display: flex;
}

.hamburger-menu {
   margin-top: 50px;
   margin-bottom: 30px;
}

.active i {
    color:#dd6f88;

}

/* display: tablet */
@media(min-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        margin: 100px 100px 0px;
    }

    .navs {
        margin-top: 50px;
    }
     
    .navs a {
        display: inline;
        margin: 0px 20px 0px; 
    }

    main p, .link a {
        letter-spacing: 2px;
    }
    
}

/* display: laptop */ 
@media(min-width: 1024px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        letter-spacing: 10px;
        margin: 100px 200px 0px;
    }

    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    #dashboard > div {
        text-align: center;
        width: 500px;
        flex-basis: 0;
        margin: 10px 0px;
        border: 2px solid gray;
    }

    .navs a {
        font-size: 17px;
    }
}